subprojects/million-post-corpus/*
subprojects/german_stopwords/*
subprojects/stop-words/*
stanford-corenlp-full-2018-02-27/*
subprojects/german/autocomplete.txt
subprojects/german/german.dic
subprojects/german/helvetismen.txt
subprojects/german/LiesMich.txt
subprojects/german/variants.dic
subprojects/german_newspaper_2020-05-28.model
code/__pycache__/*
