compound-split==1.0.2
germalemma==0.1.3
git+https://github.com/repodiac/german_compound_splitter
HanTa==0.2.2
iwnlp==0.1.7
keras==2.11.0
matplotlib==3.6.2
nltk==3.8.1
numpy==1.24.1
pandas==1.5.2
pyahocorasick==1.4.4
scikit-learn==1.2.0
scipy==1.10.0
simplemma==0.9.0
SoMeWeTa==1.8.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.29.0